.ta-skill-graph-editor {
	.konvajs-content {
		background-color: white;
		width: auto !important;
		height: auto !important;

		canvas {
			width: auto !important;
			height: auto !important;

			&:first-child {
				position: relative !important;
			}
		}
	}

	.ta-reset-zoom-button {
		position: relative;
		z-index: 10;
		top: 1em;
		right: 1em;
		margin-bottom: -99px;
	}
}
