@import '_utils.scss';

$sidebar-width: 300px;

body {
	background-image: url(../images/background.png);
	font-family: 'PT Serif', serif;
}

.ta-button-alert {
	margin-left: 0.5em;
}

.ta-perk-icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-image: url(../images/zodiac/perk-black.png);
	background-repeat: no-repeat;
	background-size: cover;

	&.sm {
		width: 10px;
		height: 10px;
	}

	&.white {
		background-image: url(../images/zodiac/perk-white.png);
	}

	&.sm {
		width: 12px;
		height: 12px;
	}
}

.ta-perk-icon-img {
	position: relative;
	width: 12px;
	height: 12px;
	margin: 1px;
	top: -2px;
}

.list-inline .list-group-item {
	background: none;
	border: none;
}

.ta-seethrough {
	opacity: 0.5;
}

#main {
	position: relative;
	left: 0;
	right: 0;
	transition: all 0.3s;

	&.sections-menu-open {
		left: $sidebar-width;
		right: -$sidebar-width;
	}

	&.user-panel-open {
		left: -$sidebar-width;
		right: $sidebar-width;
	}
}
