@import '~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '_utils.scss';
@import '_colors.scss';

.ta-campaign-background {
	margin-top: 73px;
	background-color: $ta-dark;
	transition: height 1.0s;
	overflow: hidden;

	img {
		width: 100%;
	}

	.ta-campaign-banner-hover-text {
		display: none;
	}
}

.ta-discord-panel {
	@include clearfix;
	display: block;
	margin-top: 2em;
	background-image: linear-gradient(to bottom, lighten($ta-major, 10%) 0, $ta-major 100%);
	transition: all 0.3s;
	color: black;

	&:hover {
		background-image: linear-gradient(to bottom, lighten($ta-major, 20%) 0, lighten($ta-major, 10%) 100%);
		text-decoration: none;
	}

	img {
		max-width: 30%;
		float: left;
		margin-right: 1em;
	}
}

@media (min-width: $screen-sm-min) {
	.ta-campaign-background {
		margin-top: -1em;

		img {
			transition: all 0.3s;
		}

		.ta-campaign-banner-hover-text {
			display: flex;
			position: absolute;
			width: 100%;
			height: 100%;
			padding-top: 120px;
			align-items: center;
			justify-content: center;
			z-index: 10;
			color: white;
			font-family: 'Cinzel Decorative', serif;
			letter-spacing: 5;
			opacity: 0;
			transform: scale(0.95);
			transition: all 0.3s;

			h2 {
				letter-spacing: 15;
			}
		}

		&:hover {
			img {
				filter: blur(3px);
				opacity: 0.6;
				transform: scale(1.05);
			}

			.ta-campaign-banner-hover-text {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
}
