$sidebar-width: 250px;

#sidenav-page-wrapper {
	padding-left: 0px;
	transition: all 0.5s ease;
}

.sidenav {
	background-color: #333;
	position: fixed;
	left: $sidebar-width;
	margin-left: -$sidebar-width;
	overflow-y: auto;
	transition: all 0.5s ease;
	width: 0;
	height: 100%;
}

#sidenav-content-wrapper {
	width: 100%;
	position: relative;
}

#sidenav-page-wrapper.toggled {
	padding-left: $sidebar-width;

	.sidenav {
		width: $sidebar-width;
	}
}
