$sidebar-width: 250px;

#sidenav-page-wrapper {
	padding-left: 0px;
	transition: all 0.5s ease;
}

.ta-sidenav {
	background-color: #333;
	position: fixed;
	left: 0;
	margin-left: -$sidebar-width;
	overflow-y: auto;
	transition: all 0.5s ease;
	width: $sidebar-width;
	height: 100%;

	.ta-sidenav-logo {
		display: block;
		margin-top: 1em;

		img {
			width: 100%;
		}
	}

	.ta-sidenav-user-panel .panel {
		width: $sidebar-width;
		left: -$sidebar-width;
		margin-bottom: 0;
		transition: left 0.5s ease;
	}
}

#sidenav-content-wrapper {
	width: 100%;
	position: relative;
}

#sidenav-page-wrapper.toggled {
	padding-left: $sidebar-width;

	.ta-sidenav {
		left: $sidebar-width;

		.ta-sidenav-user-panel .panel {
			left: 0;
		}
	}
}
