{
    "rules": {
        "indent":           [ "error", "tab" ],
        "quotes":           [ "error", "single" ],
        "linebreak-style":  [ "error", "unix" ],
        "semi":             [ "error", "always" ]
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "globals": {
        "WP_API_Settings": false,
        "WP_Theme_Settings": false,
        "jQuery": false,
        "require": false
    },
    "plugins": [
        "react"
    ]
}
