@import '~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';

.ta-navbar {
	margin-bottom: -5.5em;
	padding-top: 1em;
	background: none;
	border: none;

	.ta-navbar-logo {
		padding-right: 1em;

		img {
			width: 10em;
		}
	}

	.navbar-nav {
		display: none;
	}

	.navbar-header {
		text-align: center;
	}
}

@media (min-width: $screen-sm-min) {
	.ta-navbar {
		margin-bottom: -100%;

		.navbar-nav {
			display: block;
		}
	}
}
