@import '~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';

$sidebar-width: 300px;

.ta-navbar {
	margin-bottom: -9.2em;
	padding-top: 3em;
	background: none;
	border: none;
	transition: all 0.3s;

	&.ta-navbar-home {
		z-index: 80;
		background-color: #222;
		border-bottom: 1px solid rgba(255, 255, 255, 0.15);
		border-radius: 0px;
	}

	.ta-navbar-logo {
		display: block;
		position: relative;
		z-index: 90;

		img {
			width: 10em;
		}
	}

	.navbar-nav {
		display: none;
	}

	.navbar-header {
		text-align: center;
	}

	.ta-navbar-sidebar {
		display: block;
		position: absolute;
		width: $sidebar-width;
		top: 0;
		margin: 0;
		margin-top: 3em;
		padding: 1em;
		background-color: $gray-darker;

		.dropdown.open {
			background-color: $gray-dark;
		}

		&#ta-navbar-sections {
			left: -$sidebar-width;
		}

		&#ta-navbar-user-panel {
			right: -$sidebar-width;
		}
	}

	.ta-navbar-toggle {
		position: absolute;
		top: 0.7em;
		z-index: 100;

		&#ta-navbar-user-panel-toggle {
			right: 1em;
		}
	}
}

@media (max-width: $screen-sm-max) {
	.ta-navbar {
		position: absolute;
		width: 100%;
		padding: 0.5em 0;

		.container {
			width: 100%;
		}
	}

	#wpadminbar {
		display: none;
	}
}

@media (min-width: $screen-sm-min) {
	.ta-navbar {
		margin-bottom: -7.5em;

		&.ta-navbar-home {
			padding-bottom: 0.8em;
			background-color: rgba(0, 0, 0, 0.7);
		}

		.ta-navbar-logo {
			padding-right: 1em;
		}

		.navbar-nav {
			display: block;
		}

		.ta-navbar-sidebar {
			position: static;
			width: auto;
			height: auto;
			margin-top: 0;
			padding: 0;
			background-color: transparent;
		}

		.ta-navbar-toggle {
			display: none;
		}
	}
}
