$sidebar-width: 250px;

.ta-sidenav-user-panel .panel {
	width: $sidebar-width;
	left: -$sidebar-width;
	margin-bottom: 0;
	transition: left 0.5s ease;
}

#sidenav-page-wrapper.toggled .ta-sidenav-user-panel .panel {
	left: 0;
}
