$sidebar-width: 250px;
$glyphicon-chevron-up: '\e113';
$glyphicon-chevron-down: '\e114';

.ta-sidenav-user-panel .panel {
	width: $sidebar-width;
	left: -$sidebar-width;
	margin-bottom: 0;
	transition: left 0.5s ease;

	// Set character switch button icon to chevron up/down depending on collapse state
	.ta-sidenav-character-switcher-toggle {
		&.collapsed .glyphicon:before {
			content: $glyphicon-chevron-down;
		}

		.glyphicon:before {
			content: $glyphicon-chevron-up;
		}
	}
}

.ta-sidenav-character-name {
	font-family: "Cinzel Decorative", serif;
	margin-top: 0.2em;
}

.ta-sidenav-active-character {
	.ta-sidenav-character-name {
		font-size: 1.6em;
	}

	&.active .ta-sidenav-character-switcher-toggle {
		color: #23527c;
	}
}

#sidenav-page-wrapper.toggled .ta-sidenav-user-panel .panel {
	left: 0;
}
