@import '~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';

// Source: http://webdesignerwall.com/tutorials/css-elastic-videos
.ta-campaign-article-content .ta-video-container {
	position: relative;
	height: 0;
	padding-top: 30px;
	padding-bottom: 56.25%;
	margin-bottom: 2em;
	overflow: hidden;

	iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.ta-location-map {
	margin-top: 1em;
	height: 400px;
}

@media (min-width: $screen-sm-min) {
	.ta-location-map {
		height: 300px;
	}
}
